.input{
    border:2px solid #ae7000;
}
.girl-text{
    border: 1px solid #d6c20c;
}
.Header-tip{
    margin-top: 30px;
    margin-bottom: 30px;
}
.App-style{
    margin-top: 20vh;
}
.drag{
    width: 50vw;
    height: 20vh;
    border: 1px solid #1c74bd;
    margin-left: 1vw;
    margin-top: 1vh;
}
#drag-one:hover{
    cursor: pointer;
}